.interact-color-control {
	// Color button label outline.
	.block-editor-tools-panel-color-gradient-settings__dropdown {
		border: 1px solid rgba(0, 0, 0, 0.1);
		width: 100%; // WP 6.0 support.
	}
	.block-editor-panel-color-gradient-settings__dropdown {
		height: 40px; // WP 6.0 support.
	}
}

// Popover container.
.interact-color-palette-control__popover-content {
	width: 260px;
	padding: 8px;
	.components-color-picker,
	.react-colorful,
	.react-colorful__hue,
	.react-colorful__alpha {
		width: 100% !important;
	}
	.react-colorful {
		overflow: visible !important;
	}
	.react-colorful__saturation {
		height: 150px !important;
	}
	// These are the side paddings of the hex input.
	.react-colorful + * > * {
		padding-inline: 0 !important;
	}
}
